{% extends 'tweets/base.html' %}

{% block head_title %}
  It's Amazing
{% endblock head_title%}

{% block content %}
  Welcome to Twitter

<div id="tweets">
  Loading
</div>

<script>
  const tweets_element = document.getElementById("tweets") // get a html element
  /*tweets_element.innerHTML = "Loading..." // set new html in that element

  var el1 = "<h1>Hi there 1</h1>"
  var el2 = "<h1>Hi there 2</h1>"
  var el3 = "<h1>Hi there 3</h1>"

  tweets_element.innerHTML = el1 + el2 + el3 */

  const xhr = new XMLHttpRequest() // xhr = Some Class()
  const method = 'GET' // POST
  const url = "/tweets"
  const responseType = "json"

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function () {
    const server_response = xhr.response
    const listed_items = server_response.response //array
    var final_tweet_str = ""
    var i;
    for(i=0; i<listed_items.length; i++){
      console.log(i)
      console.log(listed_items[i])
      var current_item = "<div class='mb-4'><h1>" + listed_items[i].id + "</h1>" + "<p>" + listed_items[i].content + "</p></div>"
      final_tweet_str += current_item
    }
    tweets_element.innerHTML = final_tweet_str
    //console.log(listed_items)
  }
  xhr.send()

</script>
{% endblock content %}