{% extends 'tweets/base.html' %}

{% block head_title %}
  It's Amazing
{% endblock head_title%}

{% block content %}
  Welcome to Twitter

<div id="tweets">
  Loading
</div>

<script>
  const tweets_element = document.getElementById("tweets") // get a html element
  /*tweets_element.innerHTML = "Loading..." // set new html in that element

  var el1 = "<h1>Hi there 1</h1>"
  var el2 = "<h1>Hi there 2</h1>"
  var el3 = "<h1>Hi there 3</h1>"

  tweets_element.innerHTML = el1 + el2 + el3 */

  const xhr = new XMLHttpRequest() // xhr = Some Class()
  const method = 'GET' // POST
  const url = "/tweets"
  const responseType = "json"

  function handle_did_like(tweet_id, current_cont) {
    console.log(tweet_id, current_cont)
    current_cont++
    return
  }
  function like_btn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick='handle_did_like(" + tweet.id + "," + tweet.likes +")'>"+ tweet.likes +" Like</button>"
  }

  function format_tweet_element(tweet){

    var formatted_tweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id +" '><h1>" + tweet.id
            + "</h1>" + "<p>" + tweet.content +
            "</p><div class='btn-group'>" + like_btn(tweet) +
            "</div></div>"

    return formatted_tweet
  }
  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function () {
    const server_response = xhr.response
    const listed_items = server_response.response //array
    var final_tweet_str = ""
    var i;
    for(i=0; i<listed_items.length; i++){
      var tweet_obj = listed_items[i]
      var current_item = format_tweet_element(tweet_obj)
      final_tweet_str += current_item
    }
    tweets_element.innerHTML = final_tweet_str
    //console.log(listed_items)
  }
  xhr.send()

</script>
{% endblock content %}