{% extends 'tweets/base.html' %}

{% block head_title %}
  It's Amazing
{% endblock head_title%}

{% block content %}
  <div class="row text-center">
    <div class="col">
      <h1>Welcome to Twitter</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
      <form action="/create_tweet" class="form" method="post" id="tweet_create_form">
        {% csrf_token %}
        <input type="hidden" value="/" name="next" />
        <textarea required="required" class="form-control" name="content" placeholder="What's Happening?"></textarea>
        <br>
        <div class="d-none alert alert-danger" id="tweet_create_form_error"></div>
        <br>
        <button type="submit" class="btn btn-primary">Tweet</button>
      </form>
    </div>
  </div>

<div class="row" id="tweets">
  Loading
</div>

<script>

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  function handle_tweet_form_error(msg, display) {
    var my_error_div = document.getElementById('tweet_create_form_error')
    if(display === true){
      // show error
      my_error_div.setAttribute("class", "d-block alert alert-danger")
      my_error_div.innerText = msg
    }else {
      // hide error
      my_error_div.setAttribute("class", "d-none alert alert-danger")
    }
  }

  function handle_tweet_create_form_did_submit(event) {
    event.preventDefault()
    const my_form = event.target
    const my_form_data = new FormData(my_form)
    const url = my_form.getAttribute("action")
    const method = my_form.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function () {
      if(xhr.status === 201){
        handle_tweet_form_error("", false)
        const new_tweet_json = xhr.response
        console.log(new_tweet_json.likes)
        const new_tweet_el = format_tweet_element(new_tweet_json)
        console.log(new_tweet_el);
        const og_html = tweets_container_element.innerHTML
        tweets_container_element.innerHTML = new_tweet_el + og_html
        my_form.reset()
      }else if(xhr.status === 400){
        const error_json = xhr.response
        const  content_error = error_json.content
        let content_error_message;
        if(content_error){
          content_error_message = content_error[0]
          if(content_error_message){
            handle_tweet_form_error(content_error_message, true)
          }else{
            alert("An error occurred. Please try again later!")
          }
        }else{
          alert("An error occurred. Please try again later!")
        }
        console.log(content_error_message)
        alert(content_error_message)

      }else if(xhr.status === 401){
        alert("You must login!")
        window.location.href = "/login"
      }else if(xhr.status === 403){
        alert("You must login!")
        window.location.href = "/login"
      }else if(xhr.status === 500){
        alert("There was a server error, please try again later!")
      }
    }

    xhr.send(my_form_data)
  }
  
  const tweet_create_form_element = document.getElementById("tweet_create_form")

  tweet_create_form_element.addEventListener("submit", handle_tweet_create_form_did_submit)

  const tweets_container_element = document.getElementById("tweets")

  function load_tweets (tweets_element) {
    const xhr = new XMLHttpRequest() // xhr = Some Class()
    const method = 'GET' // POST
    const url = "/tweets"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
      const server_response = xhr.response
      const listed_items = server_response //array
      var final_tweet_str = ""
      var i;
      for(i=0; i<listed_items.length; i++){
        var tweet_obj = listed_items[i]
        var current_item = format_tweet_element(tweet_obj)
        final_tweet_str += current_item
      }
      tweets_element.innerHTML = final_tweet_str
      //console.log(listed_items)
  }
    xhr.send()
  }

  load_tweets(tweets_container_element)

  function handle_tweet_action_btn(tweet_id, current_cont, action) {
    //console.log(tweet_id, current_cont, action)
    const url = "/api/tweets/action"
    const method="POST"
    const data = JSON.stringify({
        id: tweet_id,
        action: action
    })
    const xhr = new XMLHttpRequest()
    const csrftoken = getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = function() {
        // react.js this handle the state much better
        //console.log(xhr.status, xhr.response)
        load_tweets(tweets_container_element)
    }
    xhr.send(data)
    console.log(xhr.send(data))
    return
}

  function retweet_btn(tweet) {
    return "<button class='btn btn-outline-success btn-sm' onclick=handle_tweet_action_btn(" + tweet.id + "," + tweet.likes + ",'retweet')>Retweet</button>"
  }

  function like_btn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick=handle_tweet_action_btn(" + tweet.id + "," + tweet.likes + ",'like')>"+ tweet.likes +" Likes</button>"
  }


  function unlike_btn(tweet) {
    return "<button class='btn btn-outline-primary btn-sm' onclick=handle_tweet_action_btn(" + tweet.id + "," + tweet.likes + ",'unlike')>Unlike</button>"
}


  function format_tweet_element(tweet){

     var formatted_tweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id
    + "'><p>" + tweet.content +
            "</p><div class='btn-group'>" +
            retweet_btn(tweet) +
            like_btn(tweet) +
            unlike_btn(tweet) +
            "</div></div>"

    return formatted_tweet
  }

</script>
{% endblock content %}